name: Publish

on:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Reconfigure git to use HTTP authentication
        run: >
          git config --global url."https://github.com/".insteadOf
          ssh://git@github.com/
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
      - name: set version
        run: |
          npm version --no-git-tag-version "$TAG"
        env:
          CI: true
          TAG: ${{ github.event.release.tag_name }}
      - name: npm install and build
        run: |
          npm ci
          npm run build
        env:
          CI: true

      # Publishing with OICD needs >= 11.5.1
      - name: Update npm to v11
        run: npm install -g npm@11

      - name: publish
        run: |
          npm publish --provenance
        env:
          CI: true
